<body>
      <!-- NAV BAR -->
      <ul class="nav justify-content-end" style="background-color: #000000">
        <a class="navbar-brand" href="/">
            <img src="assets/images/SVG/Artwork.svg" width="60" height="60" alt="logo">
        </a>
         <li class="nav-item">
            <a class="nav-link active text-white" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="/inventory">Inventory</a>
        </li>
         <li class="nav-item">
            <a class="nav-link text-white" href="/wishlist">Wishlist</a>
        </li>
         <li class="nav-item">
            <button type="button" class="logoutButton btn btn-outline-success" id="logoutButton"> Logout </button>
        </li>
      </ul>

{{!-- INV JUMOTRON --}}
<div class="jumbotron jumbotron-fluid" style="background-color: #272b27">
  <div class="container">
    <h1 class="display-4" style="color:#6AB061">Inventory</h1>
    {{!-- <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> --}}
  </div>
</div>


 <!-- FIND GAME -->
    <div class="p-5 container h-100"> 
    <div class = "p-3 mb-2 text-dark">
        <form>
                <div class="form-group">
                  <label for="game-input">Find your game</label>
                  <input class="form-control" type="text" placeholder="Ex. Age of Craft">
                </div>
              </form>
              <button type="submit" id="searchSubmit" class="btn btn-success">Submit</button>
</div>
</div>

<!-- TABLE  -->
<div class="p-5 container h-100"> 
  
<!-- FILTERS -->
<table class="table table-striped">
        <thead class="thead text-white" style="background-color: #272b27">
          <tr>
            <th class="text-center" scope="col">#</th>
            <th class="text-center" scope="col">Image</th>
            <th class="text-center" scope="col">Game Title </th>
            <th class="text-center" scope="col">Description</th>
            <th class="text-center" scope="col">Players</th>
            <th class="text-center" scope="col">Playing Time</th>
            {{!-- <th scope="col">Age</th>
            <th scope="col">Complexity Rating</th> --}}
             <th scope="col">Wishlist</th>
             <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody class="thead text-dark">
               {{#each games}}
              {{#unless on_wishlist}}
          <tr>
              <ul>
              <td>{{this.id}}</td>
              <td> <img width="150" height="Auto" src={{this.image_URL}}></td>
              <td>{{this.title}}</td>
              <td> {{this.description}}</td>
              <td> {{this.player_min}} - {{this.player_max}} </td>
              <td> {{this.playtime_min}} - {{this.playtime_max}} </td>
               {{!-- <td> {{this.min_age}}</td>
               <td> {{this.average_user_rating}}</td> --}}
               <td><button type="button" class="wishList btn btn-warning" id="wishList" data-id="{{this.id}}" data-newWishlist={{wishList}}> Wishlist </button></td>
                <td><button type="button" class="deleteGame btn btn-danger" id="deleteGame" data-id="{{this.id}}"> Delete </button></td>
              </ul>
          </tr>
          {{/unless}}
              {{/each}}
        </tbody>
      </table>
    </div>

    

<div class="modal" id="gameSearchModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Search Results</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

          <select class="custom-select">
              <option selected>Open this select menu</option>
            </select>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" id="confirmSelect" class="btn btn-primary">Confirm Selection</button>
      </div>
    </div>
  </div>
</div>

</body>
